*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.idea
.idea/
.DS_Store
/build
*/build
/captures
.externalNativeBuild
/standford-parser/build
/go-library/build
/go-library/feltgis-go-android-*.zip
/go-library/mobile.aar
/feltgis-mobilego/src/main/proto/db.proto
SharedCode/build
node_modules
package-lock.json
greenbox.properties
app/prod/release
app/stage/release
go-library/mobile.aar
